{
  "openapi": "3.0.0",
  "info": {
    "title": "Neterium Watchlist Screening API",
    "description": "Highly efficient cloud-based counterparty and transaction screening. To use this API, you will need an authentication token; please contact us to get one.",
    "contact": {
      "name": "Neterium",
      "url": "https://neterium.io",
      "email": "usersuccess@neterium.io"
    },
    "license": {
      "name": "commercial"
    },
    "version": "1.8.0"
  },
  "servers": [
    {
      "url": "https://demo.neterium.cloud/api/v1"
    }
  ],
  "security": [
    {
      "token": []
    }
  ],
  "paths": {
    "/jetflow/screen/{collection}": {
      "post": {
        "tags": [
          "screening",
          "jetflow"
        ],
        "summary": "Transaction screening",
        "description": "Submit one or multiple transactions, as a set of ISO20022-like objects.",
        "operationId": "jfscreen",
        "parameters": [
          {
            "name": "collection",
            "in": "path",
            "description": "The name of the collection you screen against",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "sanctions"
          },
          {
            "name": "validate",
            "in": "query",
            "description": "Should the request be validated?",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "requestBody": {
          "description": "The records to screen and the screening options.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JetFlowRequestBody"
              },
              "examples": {
                "simple": {
                  "$ref": "#/components/examples/SimpleTransactionRequest"
                },
                "unstructured": {
                  "$ref": "#/components/examples/UnstructuredTransactionRequest"
                },
                "chain": {
                  "$ref": "#/components/examples/TransactionChainRequest"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Screen successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScreenResponse"
                },
                "examples": {
                  "nomatch": {
                    "$ref": "#/components/examples/JetResponseEmpty"
                  },
                  "vesselmatch": {
                    "$ref": "#/components/examples/JetResponseTransactionPurposeHit"
                  }
                }
              }
            }
          },
          "206": {
            "description": "Screen partially successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScreenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request (Parsing & validation)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoreApiError400"
                }
              }
            }
          },
          "401": {
            "description": "Not Authorized (Missing or invalid token)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoreApiError401"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden (Resource not allowed)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoreApiError403"
                }
              }
            }
          },
          "404": {
            "description": "Not Found (Resource does not exist)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoreApiError404"
                }
              }
            }
          },
          "429": {
            "description": "Volume Exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoreApiError429"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoreApiError503"
                }
              }
            }
          },
          "default": {
            "description": "Other errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoreApiError5xx"
                }
              }
            }
          }
        }
      }
    },
    "/jetscan/screen/{collection}": {
      "post": {
        "tags": [
          "screening",
          "jetscan"
        ],
        "summary": "Name screening",
        "description": "Submit one or multiple names (or texts) with their metadata for screening.",
        "operationId": "screen",
        "parameters": [
          {
            "name": "collection",
            "in": "path",
            "description": "The name of the collection you screen against",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "sanctions"
          },
          {
            "name": "validate",
            "in": "query",
            "description": "Should the request be validated?",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "requestBody": {
          "description": "The records to screen and the screening options. Each record should have a name and can have metadata, such as city, country, dob, gender or any other key/value pair you want to give.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JetScanRequestBody"
              },
              "examples": {
                "ex1": {
                  "$ref": "#/components/examples/JetScanRequestExample1"
                },
                "ex2": {
                  "$ref": "#/components/examples/JetScanRequestExample2"
                },
                "ex3": {
                  "$ref": "#/components/examples/JetScanRequestExample3"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Screen successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScreenResponse"
                },
                "examples": {
                  "ex1": {
                    "$ref": "#/components/examples/JetScanResponseExample1"
                  }
                }
              }
            }
          },
          "206": {
            "description": "Screen partially successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScreenResponse"
                }
              }
            }
          },
          "429": {
            "description": "Volume Exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoreApiError429"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoreApiError503"
                }
              }
            }
          },
          "default": {
            "description": "Api error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoreApiError"
                }
              }
            }
          }
        }
      }
    },
    "/core/sessions/new": {
      "get": {
        "tags": [
          "session"
        ],
        "summary": "Create session",
        "description": "Obtain a session ID to link batches of screening requests together.",
        "operationId": "startSession",
        "responses": {
          "201": {
            "description": "Session created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoreSessionResponse"
                }
              }
            }
          },
          "default": {
            "description": "Api error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoreApiError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "session"
        ],
        "summary": "Create custom session",
        "description": "Obtain a session ID to link batches of screening requests together, giving a set of private parameters.",
        "operationId": "createSession",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CoreSessionRequest"
              },
              "examples": {
                "simple": {
                  "$ref": "#/components/examples/SessionCreationExample"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Session created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoreSessionResponse"
                }
              }
            }
          },
          "default": {
            "description": "Api error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoreApiError"
                }
              }
            }
          }
        }
      }
    },
    "/core/sessions": {
      "get": {
        "tags": [
          "session"
        ],
        "summary": "Get sessions",
        "description": "Retrieves the sessions of your account, with pagination.",
        "operationId": "getSessions",
        "parameters": [
          {
            "name": "skip",
            "in": "query",
            "description": "The number of sessions to skip before retrieving, 0 by default.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "The number of sessions to retrieve (page size), 10 by default.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoreSessionResponse"
                }
              }
            }
          },
          "default": {
            "description": "Api error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoreApiError"
                }
              }
            }
          }
        }
      }
    },
    "/core/sessions/{id}": {
      "get": {
        "tags": [
          "session"
        ],
        "summary": "Get session by ID",
        "description": "Retrieves the status and other metadata about the given session.",
        "operationId": "getSession",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the session obtained by a call to the /sessions/new endpoint.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoreSessionResponse"
                }
              }
            }
          },
          "default": {
            "description": "Api error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoreApiError"
                }
              }
            }
          }
        }
      }
    },
    "/core/sessions/{id}/keep-alive": {
      "put": {
        "tags": [
          "session"
        ],
        "summary": "Keep a session alive",
        "description": "Update the session timer to prevent it to expire.",
        "operationId": "keepAlive",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Obtained by a call to the /sessions/new endpoint or by uploading an ephemeral private list.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "session timer updater"
          },
          "default": {
            "description": "Api error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoreApiError"
                }
              }
            }
          }
        }
      }
    },
    "/core/sessions/{id}/close": {
      "put": {
        "tags": [
          "session"
        ],
        "summary": "Close session.",
        "description": "Properly closes your session. If not called, the session will be marked as expired.",
        "operationId": "closeSession",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the session obtained by a call to the /sessions/new endpoint.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session closed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoreSessionResponse"
                }
              }
            }
          },
          "default": {
            "description": "Api error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoreApiError"
                }
              }
            }
          }
        }
      }
    },
    "/core/repository/lists": {
      "get": {
        "tags": [
          "repository"
        ],
        "summary": "Lists information",
        "description": "Gets the description and update status of all the watchlists available in our servers",
        "operationId": "getLists",
        "responses": {
          "200": {
            "description": "Watchlists status and descriptions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoreListResponse"
                }
              }
            }
          },
          "default": {
            "description": "Api error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoreApiError"
                }
              }
            }
          }
        }
      }
    },
    "/core/repository/regions": {
      "get": {
        "tags": [
          "repository"
        ],
        "summary": "Regions information",
        "description": "Gets all the region names in the system. The values can be used in the riskRegions option.",
        "operationId": "getRegions",
        "responses": {
          "200": {
            "description": "List of country regions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoreRegionResponse"
                }
              }
            }
          },
          "default": {
            "description": "Api error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoreApiError"
                }
              }
            }
          }
        }
      }
    },
    "/core/repository/regions/{countryCode}": {
      "get": {
        "tags": [
          "repository"
        ],
        "summary": "Regions information by country",
        "description": "Gets all the known region names for the given country. The values can be used in the riskRegions option.",
        "operationId": "getRegionsByCountry",
        "parameters": [
          {
            "name": "countryCode",
            "in": "path",
            "description": "The ISO2 country code",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "ua"
          }
        ],
        "responses": {
          "200": {
            "description": "List of country regions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoreRegionResponse"
                }
              }
            }
          },
          "default": {
            "description": "Api error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoreApiError"
                }
              }
            }
          }
        }
      }
    },
    "/core/repository/records/{profileId}": {
      "get": {
        "tags": [
          "repository"
        ],
        "summary": "Get profile by ID",
        "description": "Gets the complete profile of the specified record id.",
        "operationId": "getProfile",
        "parameters": [
          {
            "name": "profileId",
            "in": "path",
            "description": "The ID of the profile in Jetscan",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "OFAC000000006680"
          }
        ],
        "responses": {
          "200": {
            "description": "The complete profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResponse"
                }
              }
            }
          },
          "default": {
            "description": "Api error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoreApiError"
                }
              }
            }
          }
        }
      }
    },
    "/core/repository/records": {
      "get": {
        "tags": [
          "repository"
        ],
        "summary": "Get multiple profiles",
        "description": "Gets the complete profile of the given list of profiles.",
        "operationId": "getProfiles",
        "parameters": [
          {
            "name": "profiles",
            "in": "query",
            "description": "Comma separated list of profile IDs",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "example": "OFAC000000006680,OFAC000000006681,OFAC000000006682"
          }
        ],
        "responses": {
          "200": {
            "description": "The list of complete profiles",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResponse"
                }
              }
            }
          },
          "default": {
            "description": "Api error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoreApiError"
                }
              }
            }
          }
        }
      }
    },
    "/core/repository/records:query": {
      "post": {
        "tags": [
          "repository"
        ],
        "summary": "Get batch of profiles",
        "description": "Gets the complete profile of the given list of profiles (max 1000), passed in the body.",
        "operationId": "getPostProfiles",
        "requestBody": {
          "description": "List of profile IDs",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/repository_recordsquery_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The list of complete profiles, in the same order as the given profile IDs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResponse"
                }
              }
            }
          },
          "default": {
            "description": "Api error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoreApiError"
                }
              }
            }
          }
        }
      }
    },
    "/core/repository/names:query": {
      "post": {
        "tags": [
          "repository"
        ],
        "summary": "Get batch of profile names",
        "description": "Gets the primary name of the given list of profiles (max 1000), passed in the body.",
        "operationId": "getPostNames",
        "requestBody": {
          "description": "List of profile IDs",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/repository_namesquery_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The list of primary names, in the same order as the given profile IDs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoreNamesResponse"
                }
              }
            }
          },
          "default": {
            "description": "Api error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoreApiError"
                }
              }
            }
          }
        }
      }
    },
    "/core/repository/{profileId}": {
      "get": {
        "tags": [
          "repository"
        ],
        "summary": "Profile by ID",
        "description": "(Deprecated) Gets the complete profile of the specified record id.",
        "operationId": "getProfileDeprec",
        "parameters": [
          {
            "name": "profileId",
            "in": "path",
            "description": "The ID of the profile in Jetscan",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "OFAC000000006680"
          }
        ],
        "responses": {
          "200": {
            "description": "The complete profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResponse"
                }
              }
            }
          },
          "default": {
            "description": "Api error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoreApiError"
                }
              }
            }
          }
        }
      }
    },
    "/core/repository/lists/{listId}/sanctions": {
      "get": {
        "tags": [
          "repository"
        ],
        "summary": "List sanction codes",
        "description": "Gets the available sanction codes for a list, along with the sanction name and country.",
        "operationId": "getListSanctions",
        "parameters": [
          {
            "name": "listId",
            "in": "path",
            "description": "The ID of the list",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "OFAC"
          }
        ],
        "responses": {
          "200": {
            "description": "The sanctions list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SanctionsResponse"
                }
              }
            }
          },
          "default": {
            "description": "Api error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoreApiError"
                }
              }
            }
          }
        }
      }
    },
    "/core/repository/lists/{listId}/sanctions/{countryCode}": {
      "get": {
        "tags": [
          "repository"
        ],
        "summary": "List sanction codes by country",
        "description": "Gets the available sanction codes for a list and country.",
        "operationId": "getListSanctionsByCountry",
        "parameters": [
          {
            "name": "listId",
            "in": "path",
            "description": "The ID of the list",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "OFAC"
          },
          {
            "name": "countryCode",
            "in": "path",
            "description": "The ISO2 country code",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "us"
          }
        ],
        "responses": {
          "200": {
            "description": "The sanctions list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SanctionsResponse"
                }
              }
            }
          },
          "default": {
            "description": "Api error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoreApiError"
                }
              }
            }
          }
        }
      }
    },
    "/core/repository/lists/{listId}/categories": {
      "get": {
        "tags": [
          "repository"
        ],
        "summary": "List categories",
        "description": "Gets the available category labels for a list.",
        "operationId": "getListCategories",
        "parameters": [
          {
            "name": "listId",
            "in": "path",
            "description": "The ID of the list",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "OFAC"
          }
        ],
        "responses": {
          "200": {
            "description": "The category list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategoriesResponse"
                }
              }
            }
          },
          "default": {
            "description": "Api error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoreApiError"
                }
              }
            }
          }
        }
      }
    },
    "/core/stats": {
      "get": {
        "tags": [
          "stats"
        ],
        "summary": "Screening stats",
        "description": "Gets the screening stats for your account, for the current month.",
        "operationId": "getCurrentStats",
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoreUsageResponse"
                }
              }
            }
          },
          "default": {
            "description": "Api error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoreApiError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "stats"
        ],
        "summary": "Custom screening stats",
        "description": "Gets the screening stats for your account, matching the posted criteria.",
        "operationId": "getStats",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CoreStatsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The complete profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoreUsageResponse"
                }
              }
            }
          },
          "default": {
            "description": "Api error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoreApiError"
                }
              }
            }
          }
        }
      }
    },
    "/core/stats/projects": {
      "get": {
        "tags": [
          "stats"
        ],
        "summary": "Get projects",
        "description": "Returns the list of known projects that have been used as projectReference in screening requests",
        "operationId": "getProjects",
        "parameters": [
          {
            "name": "fromDate",
            "in": "query",
            "description": "The start date of the search period (YYYYMMDD). If omitted, the start date is 30 days in the past.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "description": "The end date of the search period (YYYYMMDD). If omitted, the end date is today.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoreProjectResponse"
                }
              }
            }
          },
          "default": {
            "description": "Api error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoreApiError"
                }
              }
            }
          }
        }
      }
    },
    "/core/stats/clients": {
      "get": {
        "tags": [
          "stats"
        ],
        "summary": "Get clients",
        "description": "Returns the list of known clients that have been used as clientReference in screening requests",
        "operationId": "getClients",
        "parameters": [
          {
            "name": "fromDate",
            "in": "query",
            "description": "The start date of the search period (YYYYMMDD). If omitted, the start date is 30 days in the past.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "description": "The end date of the search period (YYYYMMDD). If omitted, the end date is today.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoreClientResponse"
                }
              }
            }
          },
          "default": {
            "description": "Api error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoreApiError"
                }
              }
            }
          }
        }
      }
    },
    "/core/cluster-status": {
      "get": {
        "tags": [
          "status"
        ],
        "summary": "Cluster Status",
        "description": "The returned HTTP reflects the overall cluster status.\n  * 200: The cluster is healthy with at least one collection.\n  * 206: The screening is available for at least one collection. Some other API endpoints may not be available.\n  * 503: The cluster is not available for the moment or under maintenance.\n",
        "operationId": "clusterctx",
        "responses": {
          "default": {
            "description": "One of the bellow response depending on the status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoreClusterStatus"
                }
              }
            }
          }
        }
      }
    },
    "/core/cluster-status/{collection}": {
      "get": {
        "tags": [
          "status"
        ],
        "summary": "Collection status",
        "description": "The returned HTTP reflects the overall cluster status.\n  * 200: The cluster is healthy with at least one collection.\n  * 206: The screening is available for at least one collection. Some other API endpoints may not be available.\n  * 503: The cluster is not available for the moment or under maintenance.\n",
        "operationId": "clusterctxcol",
        "parameters": [
          {
            "name": "collection",
            "in": "path",
            "description": "The name of the collection to check.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "One of the bellow response depending on the status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoreClusterStatus"
                }
              }
            }
          }
        }
      }
    },
    "/core/presets": {
      "get": {
        "tags": [
          "presets"
        ],
        "summary": "Get presets",
        "description": "Retrieves the presets of your account.",
        "operationId": "getPresets",
        "responses": {
          "200": {
            "description": "Preset list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CorePresetResponse"
                }
              }
            }
          },
          "default": {
            "description": "Api error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoreApiError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "presets"
        ],
        "summary": "Create preset",
        "description": "Create a new custom preset.",
        "operationId": "createPreset",
        "requestBody": {
          "description": "The preset to create.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CorePreset"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Preset successfully created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CorePresetResponse"
                }
              }
            }
          },
          "default": {
            "description": "Api error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoreApiError"
                }
              }
            }
          }
        }
      }
    },
    "/core/presets/bulk": {
      "delete": {
        "tags": [
          "presets"
        ],
        "summary": "Bulk delete presets",
        "description": "Delete multiple presets based on a url query filter",
        "operationId": "deletePresetBulk",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "description": "comma separated list of ids to delete"
            }
          },
          {
            "name": "fromDate",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "description": "date from which the preset have been created. the date is using the format yyyy-MM-dd"
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "description": "date until which the preset have been created. the date is using the format yyyy-MM-dd"
            }
          },
          {
            "name": "clientReference",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "description": "the clientReference that the presets belongs to."
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "description": "the preset name."
            }
          },
          {
            "name": "nameSearchType",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "description": "indicate how the name search parameter should be used.",
              "enum": [
                "EXACT",
                "STARTS_WITH",
                "CONTAINS"
              ]
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The preset has been deleted."
          },
          "default": {
            "description": "Api error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoreApiError"
                }
              }
            }
          }
        }
      }
    },
    "/core/presets/{presetId}": {
      "get": {
        "tags": [
          "presets"
        ],
        "summary": "Get preset",
        "description": "Retrieves the specified preset.",
        "operationId": "getPreset",
        "parameters": [
          {
            "name": "presetId",
            "in": "path",
            "description": "The ID of the preset to retrieve",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "preset list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CorePresetResponse"
                }
              }
            }
          },
          "default": {
            "description": "Api error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoreApiError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "presets"
        ],
        "summary": "Update preset",
        "description": "Updates one preset by ID.",
        "operationId": "updatePreset",
        "parameters": [
          {
            "name": "presetId",
            "in": "path",
            "description": "The ID of the preset to update",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The updated fields of the preset.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CorePreset"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The preset is succesfully updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CorePresetResponse"
                }
              }
            }
          },
          "default": {
            "description": "Api error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoreApiError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "presets"
        ],
        "summary": "Delete preset",
        "description": "Deletes one preset by ID.",
        "operationId": "deletePreset",
        "parameters": [
          {
            "name": "presetId",
            "in": "path",
            "description": "The ID of the preset to delete",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The preset has been deleted."
          },
          "default": {
            "description": "Api error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoreApiError"
                }
              }
            }
          }
        }
      }
    },
    "/core/exceptions": {
      "get": {
        "tags": [
          "exceptions"
        ],
        "summary": "Get exceptions.",
        "description": "Gets all the active exceptions of your account, with or without pagination.",
        "operationId": "getExceptions",
        "parameters": [
          {
            "name": "skip",
            "in": "query",
            "description": "The number of exceptions to skip before retrieving, 0 by default.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "The number of exceptions to retrieve (page size), 100 by default.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "The status of the exception, by default \"ACTIVE\", \"INVALIDATED\" and \"EXPIRED\" are returned",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "ACTIVE",
                "INVALIDATED",
                "DELETED",
                "EXPIRED"
              ]
            }
          },
          {
            "name": "profileId",
            "in": "query",
            "description": "The id of the related watch list record.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fromDate",
            "in": "query",
            "description": "the date from which exceptions have been created. use the yyyy-mm-dd format.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "description": "the date until which exceptions have been created. use the yyyy-mm-dd format.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reference",
            "in": "query",
            "description": "text used when searching exception by reference.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clientReference",
            "in": "query",
            "description": "The client reference specified when creating the exception.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Exception list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoreExceptionResponse"
                }
              }
            }
          },
          "default": {
            "description": "Api error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoreApiError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "exceptions"
        ],
        "summary": "Create exceptions",
        "description": "Create one or multiple exceptions for your metadata or for specific matches.",
        "operationId": "createExceptions",
        "requestBody": {
          "description": "The exceptions to create.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CoreExceptionBody"
              },
              "examples": {
                "basic": {
                  "$ref": "#/components/examples/ExceptionExample1"
                },
                "precise": {
                  "$ref": "#/components/examples/ExceptionExample2"
                },
                "generic": {
                  "$ref": "#/components/examples/ExceptionExample3"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Exceptions successfully created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoreExceptionResponse"
                }
              }
            }
          },
          "206": {
            "description": "Exceptions partially created (an error happened for some).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoreExceptionResponse"
                }
              }
            }
          },
          "422": {
            "description": "Exceptions could not be created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoreException"
                }
              }
            }
          },
          "default": {
            "description": "Api error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoreApiError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "exceptions"
        ],
        "summary": "Delete exceptions",
        "description": "Delete a list exception, by ID.",
        "operationId": "deleteExceptions",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "description": "A comma-separated list of exception ids",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "The status of the exception, by default all the exceptions are returned",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "ACTIVE",
                "INVALIDATED",
                "DELETED",
                "EXPIRED"
              ]
            }
          },
          {
            "name": "profileId",
            "in": "query",
            "description": "The id of the related watch list record.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fromDate",
            "in": "query",
            "description": "the date from which exceptions have been created. use the yyyy-mm-dd format.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "description": "the date until which exceptions have been created. use the yyyy-mm-dd format.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reference",
            "in": "query",
            "description": "text used when searching exception by reference.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "purge",
            "in": "query",
            "description": "If true, physically delete the exceptions. If false, it sets the status of the exceptions it DELETED. Purged exceptions cannot be recovered.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The exception is marked as DELETED and will no longer be used."
          },
          "default": {
            "description": "Api error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoreApiError"
                }
              }
            }
          }
        }
      }
    },
    "/core/exceptions/bulk": {
      "delete": {
        "tags": [
          "exceptions"
        ],
        "summary": "Bulk delete of exception",
        "description": "Bulk deletion of exception using url parameter as filters.",
        "operationId": "deleteExceptionBulk",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "description": "comma separated list of ids to delete"
            }
          },
          {
            "name": "fromDate",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "description": "date from which the exception have been created. the date is using the format yyyy-MM-dd"
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "description": "date until which the exception have been created. the date is using the format yyyy-MM-dd"
            }
          },
          {
            "name": "clientReference",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "description": "the clientReference that the exceptions belongs to."
            }
          },
          {
            "name": "profileId",
            "in": "query",
            "description": "the profileId on which the exception is applied",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reference",
            "in": "query",
            "description": "the reference of the exception",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "referenceSearchType",
            "in": "query",
            "description": "indicate how the reference search parameter should be used.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "EXACT",
              "enum": [
                "EXACT",
                "STARTS_WITH",
                "CONTAINS"
              ]
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The exception is marked as DELETED and will no longer be used."
          },
          "default": {
            "description": "Api error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoreApiError"
                }
              }
            }
          }
        }
      }
    },
    "/core/exceptions/{exceptionId}": {
      "get": {
        "tags": [
          "exceptions"
        ],
        "summary": "Get one exception",
        "description": "Retrieves the specified exception, by ID.",
        "operationId": "getException",
        "parameters": [
          {
            "name": "exceptionId",
            "in": "path",
            "description": "The ID of the exception to retrieve",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Exception list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoreExceptionResponse"
                }
              }
            }
          },
          "default": {
            "description": "Api error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoreApiError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "exceptions"
        ],
        "summary": "Update exception",
        "description": "Updates one exception by ID. Only a subset of the properties can be updated (NOT including the core ones, such as profileID or match/source).",
        "operationId": "updateException",
        "parameters": [
          {
            "name": "exceptionId",
            "in": "path",
            "description": "The ID of the exception to update",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The updated fields of the exception, to apply.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CoreExceptionUpdateBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The exception is succesfully updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoreExceptionResponse"
                }
              }
            }
          },
          "default": {
            "description": "Api error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoreApiError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "exceptions"
        ],
        "summary": "Delete exception",
        "description": "Delete one exception, by ID.",
        "operationId": "deleteException",
        "parameters": [
          {
            "name": "exceptionId",
            "in": "path",
            "description": "The ID of the exception to delete",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "purge",
            "in": "query",
            "description": "If true, physically delete the exception. If false, it set the status of the exception t DELETED. Purged exceptions cannot be recovered.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The exception is marked as DELETED and will no longer be used."
          },
          "default": {
            "description": "Api error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoreApiError"
                }
              }
            }
          }
        }
      }
    },
    "/updates/ephemeral": {
      "post": {
        "tags": [
          "lists"
        ],
        "summary": "Upload ephemeral private list",
        "description": "Upload an anonymous XML private list that will be associated with the provided sessionID, and will never be stored.",
        "operationId": "uploadEphemeralList",
        "parameters": [
          {
            "name": "classify",
            "in": "query",
            "description": "Detects the name cultural affinity of the submitted records.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "true",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "transliterate",
            "in": "query",
            "description": "Creates a latin alias from the supported native script names.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "false",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "validate",
            "in": "query",
            "description": "Validates the uploaded XML file",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "true",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "checksum",
            "in": "query",
            "description": "MD5 checksum of the uploaded file. Neterium API will compute the checksum and discard the uploaded file if it doesn't match the provided checksum.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeCities",
            "in": "query",
            "description": "Should the database of risk cities and regions be also in the scope when screening against this ephemeral list.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "false"
            }
          }
        ],
        "requestBody": {
          "description": "The watch as an XML file, plain or gzipped. The format is the OFAC one (https://www.treasury.gov/ofac/downloads/sdn.xml )",
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/updates_ephemeral_body"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The private list has been successfully uploaded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoreResponseListUpload"
                }
              }
            }
          },
          "default": {
            "description": "Api error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoreApiError"
                }
              }
            }
          }
        }
      }
    },
    "/updates/private/{listId}": {
      "put": {
        "tags": [
          "lists"
        ],
        "summary": "Upload a delta private list",
        "description": "Upload a delta persistent XML private list (not available in SaaS yet).",
        "operationId": "uploadDeltaList",
        "parameters": [
          {
            "name": "listId",
            "in": "path",
            "description": "Short unique ID of your private list, which will be used to prefix the record IDs internally (along with PRV).",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 4,
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "name": "classify",
            "in": "query",
            "description": "Detects the name cultural affinity of the submitted records.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transliterate",
            "in": "query",
            "description": "Creates a latin alias from the supported native script names.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "validate",
            "in": "query",
            "description": "Validates the uploaded XML file",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "true",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "clientReference",
            "in": "query",
            "description": "Additional level of list segregation. Only screening requests containing the same clientReference in the context will be able to match against these records.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "checksum",
            "in": "query",
            "description": "MD5 checksum of the uploaded file. Neterium API will compute the checksum and discard the uploaded file if it doesn't match the provided checksum.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "action",
            "in": "query",
            "description": "Global action for all records. If the action parameter is not present, the action defined in the record will be used.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "add",
                "update",
                "delete"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "The watch as an XML file, plain or gzipped. The format is the OFAC one (https://www.treasury.gov/ofac/downloads/sdn.xml )",
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/private_listId_body"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The private list has been successfully uploaded."
          },
          "default": {
            "description": "Api error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoreApiError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "lists"
        ],
        "summary": "Upload private list",
        "description": "Upload a persistent XML private list.",
        "operationId": "uploadList",
        "parameters": [
          {
            "name": "listId",
            "in": "path",
            "description": "Short unique ID of your private list, which will be used to prefix the record IDs internally (along with PRV).",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 4,
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "name": "classify",
            "in": "query",
            "description": "Detects the name cultural affinity of the submitted records.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transliterate",
            "in": "query",
            "description": "Creates a latin alias from the supported native script names.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "validate",
            "in": "query",
            "description": "Validates the uploaded XML file",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "true",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "clientReference",
            "in": "query",
            "description": "Additional level of list segregation. Only screening requests containing the same clientReference in the context will be able to match against these records.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "checksum",
            "in": "query",
            "description": "MD5 checksum of the uploaded file. Neterium API will compute the checksum and discard the uploaded file if it doesn't match the provided checksum.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The watch as an XML file, plain or gzipped. The format is the OFAC one (https://www.treasury.gov/ofac/downloads/sdn.xml )",
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/private_listId_body_1"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The private list has been successfully uploaded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoreResponsePrivateListUpload"
                }
              }
            }
          },
          "default": {
            "description": "Api error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoreApiError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "lists"
        ],
        "summary": "Delete private list",
        "description": "Delete a private list and all its records.",
        "operationId": "deleteList",
        "parameters": [
          {
            "name": "listId",
            "in": "path",
            "description": "Short unique ID of your private list, the same that was used when uploading the list (without the PRV prefix).",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 4,
              "minLength": 1,
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The private list has been successfully deleted."
          },
          "default": {
            "description": "Api error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoreApiError"
                }
              }
            }
          }
        }
      }
    },
    "/updates/stats/{listId}": {
      "get": {
        "tags": [
          "lists"
        ],
        "summary": "Gets the statistics of a list.",
        "description": "Gets the statistics of a list, including import date, extracted publication date and the number of records added, updated or deleted during an import, parsing or storing phase.",
        "operationId": "statsListId",
        "parameters": [
          {
            "name": "listId",
            "in": "path",
            "description": "Short unique ID of the list. For private lists use the prefix PRV.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 7,
              "minLength": 3,
              "type": "string"
            }
          },
          {
            "name": "fromDate",
            "in": "query",
            "description": "The start date of the search period (YYYYMMDD). If omitted, the start date is the current day.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "description": "The end date of the search period (YYYYMMDD). If omitted, the end date is the current day + one day.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The corresponding list of statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCountersResponse"
                }
              }
            }
          },
          "default": {
            "description": "Api error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoreApiError"
                }
              }
            }
          }
        }
      }
    },
    "/updates/stats/{listId}/{date}": {
      "get": {
        "tags": [
          "lists"
        ],
        "summary": "Gets the statistics of a list for the specific date.",
        "description": "Gets the statistics of a list, including import date, extracted publication date and the number of records added, updated or deleted during an import, parsing or storing phase.",
        "operationId": "statsListIdDate",
        "parameters": [
          {
            "name": "listId",
            "in": "path",
            "description": "short unique ID of the list. For private lists use the prefix PRV.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 7,
              "minLength": 3,
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "path",
            "description": "The date of the search (YYYYMMDD).",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The corresponding list of statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCountersResponse"
                }
              }
            }
          },
          "default": {
            "description": "Api error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoreApiError"
                }
              }
            }
          }
        }
      }
    },
    "/updates/{listId}/{date}/reports": {
      "get": {
        "tags": [
          "lists"
        ],
        "summary": "Gets the full report about a list update",
        "description": "Gets report describing all the steps, status and challenges found during a list update.",
        "operationId": "listUpdateReport",
        "parameters": [
          {
            "name": "listId",
            "in": "path",
            "description": "short unique ID of the list. For private lists use the prefix PRV.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 7,
              "minLength": 3,
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "path",
            "description": "The date of the update",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The reports found for the given list and date. There might be multiple reports if the list is updated more than once per day.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListReportResponse"
                }
              }
            }
          },
          "default": {
            "description": "Api error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoreApiError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CoreApiError": {
        "required": [
          "errorMessage",
          "outcome"
        ],
        "type": "object",
        "properties": {
          "outcome": {
            "type": "string",
            "description": "The value will be 'error' in case of error API response"
          },
          "errorCode": {
            "type": "number",
            "description": "A numeric error code for easier error classification. We try to always send one, but it might be missing in unexpected cases."
          },
          "errorMessage": {
            "type": "string",
            "description": "Small high-level description of the error."
          },
          "errorDetails": {
            "type": "string",
            "description": "Further details about the cause of the error"
          }
        },
        "description": "The expected HTTP code will be used depending on the kind of error, following the general REST APIs principles.\n  * 400: Bad Request (JSON parsing or validation error, ...)\n  * 401: Not Authorized (You do not have a valid account in your token)\n  * 403: Forbidden (You are trying to access a resource you are not allowed to use; e.g. an endpoint, an API feature, a list, ...)\n  * 404: Not Found (The requested resource does not exist)\n  * 409: Conflict (The resource you are trying to create conflicts with an existing one; e.g. with the same unique name)\n  * 500: Unexpected server error (We recommend to contact our support in this case if the problem persists)\n  * 503: Service Unavailable (The service is currently under maintenance and will be available soon)\n",
        "example": {
          "outcome": "error",
          "errorCode": 40100,
          "errorMessage": "Not authorized",
          "errorDetails": "You need a token to access this API"
        }
      },
      "CoreApiError400": {
        "description": "Bad Request",
        "example": {
          "outcome": "error",
          "errorCode": 40020,
          "errorMessage": "Message schema validation error",
          "errorDetails": "/records[0]: Field 'object' is required."
        },
        "allOf": [
          {
            "$ref": "#/components/schemas/CoreApiError"
          }
        ]
      },
      "CoreApiError401": {
        "description": "Not Authorized",
        "example": {
          "outcome": "error",
          "errorCode": 40100,
          "errorDetails": "You need a token to access this API",
          "errorMessage": "Not authorized"
        },
        "allOf": [
          {
            "$ref": "#/components/schemas/CoreApiError"
          }
        ]
      },
      "CoreApiError403": {
        "example": {
          "outcome": "error",
          "errorCode": 40302,
          "errorMessage": "Access denied",
          "errorDetails": "You do not have access to this collection"
        },
        "allOf": [
          {
            "$ref": "#/components/schemas/CoreApiError"
          }
        ]
      },
      "CoreApiError404": {
        "example": {
          "outcome": "error",
          "errorCode": 40406,
          "errorMessage": "Resource not found",
          "errorDetails": "Profile not found in the watch list repository."
        },
        "allOf": [
          {
            "$ref": "#/components/schemas/CoreApiError"
          }
        ]
      },
      "CoreApiError429": {
        "example": {
          "outcome": "error",
          "errorCode": 42900,
          "errorMessage": "Volume Exceeded",
          "errorDetails": "You have exceeded your screening quota."
        },
        "allOf": [
          {
            "$ref": "#/components/schemas/CoreApiError"
          }
        ]
      },
      "CoreApiError5xx": {
        "example": {
          "outcome": "error",
          "errorCode": 50300,
          "errorMessage": "Server Error",
          "errorDetails": "Dictionary closed."
        },
        "allOf": [
          {
            "$ref": "#/components/schemas/CoreApiError"
          }
        ]
      },
      "CoreApiError503": {
        "example": {
          "outcome": "error",
          "errorCode": 50300,
          "errorMessage": "Service Unavailable",
          "errorDetails": "The screening service is temporarly unavailable, please submit your request again."
        },
        "allOf": [
          {
            "$ref": "#/components/schemas/CoreApiError"
          }
        ]
      },
      "CoreUsageResponse": {
        "title": "Session Response",
        "required": [
          "count",
          "data",
          "outcome"
        ],
        "type": "object",
        "properties": {
          "outcome": {
            "type": "string",
            "description": "The value should be 'success' in this case."
          },
          "count": {
            "type": "number",
            "description": "Number of records in the data property"
          },
          "data": {
            "type": "array",
            "description": "List of stats.",
            "items": {
              "$ref": "#/components/schemas/CoreUsage"
            }
          }
        }
      },
      "CoreProjectResponse": {
        "title": "Project List Response",
        "required": [
          "count",
          "data",
          "outcome"
        ],
        "type": "object",
        "properties": {
          "outcome": {
            "type": "string",
            "description": "The value should be 'success' in this case."
          },
          "count": {
            "type": "number",
            "description": "Number of records in the data property"
          },
          "data": {
            "type": "array",
            "description": "List of project references.",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "CoreClientResponse": {
        "title": "Client List Response",
        "required": [
          "count",
          "data",
          "outcome"
        ],
        "type": "object",
        "properties": {
          "outcome": {
            "type": "string",
            "description": "The value should be 'success' in this case."
          },
          "count": {
            "type": "number",
            "description": "Number of records in the data property"
          },
          "data": {
            "type": "array",
            "description": "List of client references.",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "CoreUsage": {
        "type": "object",
        "properties": {
          "collection": {
            "type": "string",
            "description": "Screening collection invoked."
          },
          "date": {
            "type": "string",
            "description": "Date of the stat (date-time - RFC3339)."
          },
          "counters": {
            "$ref": "#/components/schemas/CoreUsage_counters"
          },
          "explainCounters": {
            "$ref": "#/components/schemas/CoreUsage_explainCounters"
          },
          "stats": {
            "$ref": "#/components/schemas/CoreUsage_stats"
          }
        }
      },
      "CoreSessionResponse": {
        "title": "Session Response",
        "required": [
          "count",
          "data",
          "outcome"
        ],
        "type": "object",
        "properties": {
          "outcome": {
            "type": "string",
            "description": "The value should be 'success' in this case."
          },
          "count": {
            "type": "number",
            "description": "Number of records in the data property"
          },
          "total": {
            "type": "number",
            "description": "Total number of records in the queried dataset"
          },
          "skip": {
            "type": "number",
            "description": "Number of skipped records in the queried dataset (should match the 'skip' parameter in the initial query)"
          },
          "data": {
            "type": "array",
            "description": "List of sessions.",
            "items": {
              "$ref": "#/components/schemas/CoreSession"
            }
          }
        }
      },
      "CoreSession": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "description": "Unique ID of the session."
          },
          "accountId": {
            "type": "string",
            "description": "ID of the account this session belongs to."
          },
          "reference": {
            "type": "string",
            "description": "If any, the reference that was given when the session was created."
          },
          "projectReference": {
            "type": "string",
            "description": "If any, the projectReference that was given when the session was created."
          },
          "clientReference": {
            "type": "string",
            "description": "If any, the clientReference that was given when the session was created."
          },
          "status": {
            "type": "string",
            "description": "Current status of the session.",
            "enum": [
              "STARTED",
              "COMPLETED",
              "ABORTED",
              "ERROR",
              "EXPIRED"
            ]
          },
          "statusMessage": {
            "type": "string",
            "description": "Descriptive message about the status."
          },
          "startDate": {
            "type": "string",
            "description": "Date at which the session has started (date-time - RFC3339)."
          },
          "stopDate": {
            "type": "string",
            "description": "Date at which the session ended - completed, aborted or expired - (date-time - RFC3339)."
          },
          "updateDate": {
            "type": "string",
            "description": "Date at which the session was updated."
          },
          "stats": {
            "$ref": "#/components/schemas/CoreSession_stats"
          },
          "perfs": {
            "type": "array",
            "description": "Some performance stats. Measures the number of screened records and produced hits every 3 seconds (approx).",
            "items": {
              "$ref": "#/components/schemas/CoreSession_perfs"
            }
          },
          "checksum": {
            "type": "string",
            "description": "MD5 checksum of the uploaded file"
          }
        }
      },
      "CoreRequestContext": {
        "type": "object",
        "properties": {
          "sessionId": {
            "type": "string",
            "description": "An optional session Id this request refers to. See the session API."
          },
          "clientReference": {
            "type": "string",
            "description": "An optional client Id for this batch. Can also be given when creating the session or at record level."
          },
          "projectReference": {
            "type": "string",
            "description": "An optional project Id for this batch. Can also be given when creating the session or at record level."
          },
          "reference": {
            "type": "string",
            "description": "Your optional unique identifier for this query."
          }
        },
        "additionalProperties": true
      },
      "CoreResponseListUpload": {
        "type": "object",
        "properties": {
          "outcome": {
            "type": "string",
            "description": "The status of the operation",
            "enum": [
              "success",
              "error"
            ]
          },
          "count": {
            "type": "integer",
            "description": "Number of returned sessions (always 1 in this case)"
          },
          "data": {
            "type": "array",
            "description": "The session created after a successful list upload",
            "items": {
              "$ref": "#/components/schemas/CoreSession"
            }
          }
        }
      },
      "CoreResponsePrivateListUpload": {
        "type": "object",
        "properties": {
          "outcome": {
            "type": "string",
            "description": "The status of the operation",
            "enum": [
              "success",
              "error"
            ]
          },
          "count": {
            "type": "integer",
            "description": "Number of private list (always 1 in this case)"
          },
          "data": {
            "type": "array",
            "description": "The session created after a successful list upload",
            "items": {
              "$ref": "#/components/schemas/PrivateListUploadResult"
            }
          }
        }
      },
      "PrivateListUploadResult": {
        "title": "The result of the load of a private list",
        "type": "object",
        "properties": {
          "version": {
            "type": "string",
            "description": "Publication date of the list (date-time - RFC3339)."
          },
          "timestamp": {
            "type": "string",
            "description": "The import execution's timestamp (date-time - RFC3339)."
          },
          "totalRecords": {
            "type": "number",
            "description": "The number of records"
          },
          "invalidRecords": {
            "type": "string",
            "description": "The count of invalid records (XML validation)"
          }
        }
      },
      "CoreScreenOptions": {
        "type": "object",
        "properties": {
          "threshold": {
            "maximum": 100,
            "minimum": 50,
            "type": "integer",
            "description": "Name matching threshold.\nWhen the threshold value is between 50 and 84 matching is more broad, and some hits returned in this mode, are not retrieved otherwise",
            "default": 85
          },
          "matching": {
            "type": "string",
            "description": "Matching technique:\n  + `fuzzy` is the default sensitivity in terms of fuzzy logic capabilities and the affinity specific strategies.\n  + `strict` (obsolete) applies a higher penalty for missing and mismatching words, while keeping the same level of fuzziness between words.\n  + `balanced` (obsolete) only accepts a shorter set of misspells (doubled letters, letter inversions, mismatched vowels) and all the important words need to be matched, but the screening speed is extremely fast. \n  + `broad` is a Google-like search that raises for example hits when searching for a last name only. Note that the threshold is not taken into account for this setting.\n  \nWhen screening transactions, we assume that only the \"fuzzy\" option is applicable. The balanced and strict values will be removed from the API in the next major release.\n",
            "default": "fuzzy",
            "enum": [
              "fuzzy",
              "strict",
              "balanced",
              "broad"
            ]
          },
          "recordType": {
            "type": "string",
            "description": "By default, a screened record is of type 'unknown' (i.e. \"individual\" or \"entity\") in Jetscan and 'transaction' in JetFlow. With this option, you can set the default value of all the records in a Jetscan request, or change the value of a Jetflow field using fieldPresets. However, please note that the 'transaction' recordType is reserved for JetFlow queries and cannot be used in field- and tag- presets.",
            "enum": [
              "individual",
              "entity",
              "id",
              "currency",
              "text",
              "unknown",
              "transaction"
            ]
          },
          "metaScore": {
            "type": "boolean",
            "description": "When enabled, the final score will also take into account any matched metadata, assuming that the requested precision is reached. For example, if the DOB precision is set to 5 years, the closer they match, the higher the score; but the hit still be discarded if the dob difference is still > 5 years.",
            "default": false
          },
          "geoScore": {
            "type": "boolean",
            "description": "(JETFLOW Only) When enabled, the API will search all the transaction fields for matches with the countries of any reported hit. As a result, a new score will be delivered in the response.",
            "default": false
          },
          "geoThreshold": {
            "maximum": 100,
            "minimum": 0,
            "type": "integer",
            "description": "(JETFLOW Only, requires geoScore option enabled) Defines a minimum threshold for the geoScore in the found matches. If the compute geoScore is below this threshold, the matches will not be reported.",
            "default": 0
          },
          "bicThreshold": {
            "maximum": 100,
            "minimum": 0,
            "type": "integer",
            "description": "The threshold to be used when screening expanded BICs. By default, the top level threshold is used instead. Setting a value to 0 will disable automatic BIC expansion."
          },
          "preset": {
            "type": "string",
            "description": "Name of the options preset to use. The preset values will overwrite any other option passed in this object.\nNote that another preset cannot be referenced using this option."
          },
          "lowQualityAliases": {
            "type": "string",
            "description": "Specifies what kind of lowQualityAlias should be included in the screening scope. For the moment, only the reclassified aliases can be included.",
            "default": "none",
            "enum": [
              "none",
              "reclassified"
            ]
          },
          "dobMatching": {
            "type": "string",
            "description": "DOB matching type: 'perfect' to match the full date if available, 'year' to accept the match if it's the same year (or near, see dobPrecision).",
            "default": "year",
            "enum": [
              "year",
              "perfect"
            ]
          },
          "dobPrecision": {
            "maximum": 100,
            "minimum": 0,
            "type": "integer",
            "description": "DOB matching precision: in case of year matching, the accepted difference (in years). Note: when metaScore is set to “true”, and if the dob is within the defined range set by this parameter, the calculation of the score will take into account the ratio (actual year difference) / (dobPrecision ). For example, a difference of 3 years between 2 dates with dobPrecision =7 years will score higher than if dobPrecision = 4 years for the same 3 year difference.",
            "default": 0
          },
          "dobPolicy": {
            "type": "object",
            "description": "Date of birth policy.",
            "allOf": [
              {
                "$ref": "#/components/schemas/CorePolicy"
              }
            ]
          },
          "genderPolicy": {
            "type": "object",
            "description": "Gender policy.",
            "allOf": [
              {
                "$ref": "#/components/schemas/CorePolicy"
              }
            ]
          },
          "idPolicy": {
            "type": "object",
            "description": "IDs policy.",
            "allOf": [
              {
                "$ref": "#/components/schemas/CorePolicy"
              }
            ]
          },
          "idPrecision": {
            "minimum": 3,
            "type": "integer",
[...]
